[buildout]
extensions = mr.developer buildout.dumppickedversions
unzip = true
parts = instance site omelette zopepy roadrunner
extends = 
    http://dist.plone.org/release/3.3rc3/versions.cfg
versions = versions
develop = .

sources = sources
sources-dir = extras
auto-checkout =

[versions]
collective.z3cform.wizard = 1.0b2
# workarounds for some Plone 3.3rc3 issues
Products.kupu = 1.4.12.1
Products.CMFEditions = 1.2.2
plone.app.layout = 1.2.3

[sources]
collective.z3cform.wizard 	= svn https://svn.plone.org/svn/collective/collective.z3cform.wizard/trunk
Products.PloneFormGen		= svn https://svn.plone.org/svn/collective/Products.PloneFormGen/trunk

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs = 
    Plone
    collective.megaphone
    collective.captcha
zcml =
    collective.captcha

[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ${zope2:location}/lib/python ./

[site]
recipe = collective.recipe.plonesite
site-id = megaphone-test
instance = instance
products = collective.megaphone

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[roadrunner]
recipe = roadrunner:plone
packages-under-test = collective.megaphone collective.z3cform.wizard Products.PloneFormGen
