table.orderable-crud {
    margin: 0;
    width: 100%;
}
ul.orderable-crud-sortable {
    list-style-type: none; list-style-image: none; margin: 0; padding: 0;
}
ul.orderable-crud-sortable li {
    margin: 0;
}
ul.orderable-crud-sortable .odd {
    background-color: #fff;
}
ul.wizard-steps {
    text-align: center;
}
ul.wizard-steps li {
    display: inline;
    margin-right: 1em;
}
.wizard-step-link.selected {
    font-weight: bold;
    font-size: 120%;
}
.wizard-buttons {
    text-align: right;
}
.edit-buttons-row {
    border-top: solid 1px #8CACBB;
}
.action {
    display: inline;
    margin-right: 0.5em;
}
.fieldCollapsible {
    margin: 0;
}
.fieldTitle {
    cursor: pointer;
    padding-left: 15px;
    background: url('arrowRight.gif') 0% 50% no-repeat;
}
.fieldCollapsible.open .fieldTitle {
    background: url('arrowDown.gif') 0% 50% no-repeat;
    border-bottom: solid 1px #ccc;
    margin-bottom: 0.5em;
    font-size: 150%;
}
.fieldForm {
    margin: 0;
}
.fieldErrorBox .error {
    border: none;
    padding: 0;
}