table.orderable-crud {
    margin: 0;
    width: 100%;
}
ul.orderable-crud-sortable {
    list-style-type: none; list-style-image: none; margin: 0; padding: 0;
}
ul.orderable-crud-sortable li {
    margin: 0;
}
ul.orderable-crud-sortable .odd {
    background-color: #fff;
}
ul.wizard-steps {
    text-align: center;
}
#content ul.wizard-steps li {
    display: inline;
    margin-right: 1em;
}
.wizard-step-link.selected {
    font-weight: bold;
    font-size: 120%;
}
.wizard-buttons {
    text-align: right;
}
.wizard-buttons .action {
    float: right;
}
.edit-buttons-row {
    border-top: solid 1px #8CACBB;
}
.action {
    display: inline;
    margin-right: 0.5em;
}
.fieldCollapsible {
    margin: 0;
}
.fieldTitle {
    cursor: pointer;
    padding-left: 15px;
    background: url('arrowRight.gif') 0% 50% no-repeat;
}
.fieldCollapsible.open .fieldTitle {
    background: url('arrowDown.gif') 0% 50% no-repeat;
    border-bottom: solid 1px #ccc;
    margin-bottom: 0.5em;
    font-size: 150%;
}
.fieldForm {
    margin: 0;
}
.fieldErrorBox .error {
    border: none;
    padding: 0;
}
#letter-preview {
    background-color: #fff;
    padding: 1em;
    margin: 1em;
    width: 600px;
    height: 470px;
}
#letter-preview .visualPadding {
    margin: 2em;
    height: 430px;
    overflow: auto;
}

/* OVERLAY */

/* the overlayed element */
div.overlay {
width: auto;
height: auto;

/* initially overlay is hidden */
display:none;

/* some padding to layout nested elements nicely  */
margin:1em;
}

div.overlay-iframe,
div.overlay-ajax {
width: 60%;
min-height: 100px;
}
div.overlay-iframe {
height: 60%;
}

/* default close button positioned on upper right corner */
div.overlaybg div.close,
div.overlay div.close {
background-image: url(pb_close.png);
background-color: transparent;
padding: 0;
position: absolute;
left: -15px;
top: -15px;
cursor: pointer;
height: 30px;
width: 30px;
}

.pb-ajax, .pb-image {
white-space: normal;

border:0.5em solid #000;

-moz-border-radius:0.35em;
-webkit-border-radius:0.35em;
-moz-box-shadow:0 0 1em #888;
-webkit-box-shadow:0 0 1em #888;
}

.pb-ajax > * {
background-color: #fff;
padding: 1em;
white-space: normal;
}
.pb-ajax .documentActions {display:none}


#kss-spinner {
z-index: 10000;
}

div.overlay div.close span {
display:block;
height:1px;
margin:-1px 0 0 -1px;
overflow:hidden;
padding:0;
width:1px;
}
